:root {
  --t1: 300ms;
}

.faq {
  padding-top: toRem(30px);
  color: $veryDarkDesaturatedBlue;

  @include breakpoint-up(small) {
    width: 55%;
    padding: toRem(40px);
  }

  @include breakpoint-up(large) {
    padding-right: 6%;
  }

  .title {
    text-align: center;
    font-weight: 700;
    font-size: $font-xxlg;
    color: $veryDarkGrayishBlue;
  }

  .sections {
    margin: toRem(36px) 0;

    .section {
      border-bottom: 1px solid $lightGrayishBlue;
      padding: toRem(20px) 0;
      cursor: pointer;

      &:first-child {
        padding-top: 0;
      }

      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after {
          content: url(../../images/icon-arrow-down.svg);
          transition: var(--t1) linear;
        }
      }

      .answer {
        margin-top: 0;
        line-height: 1.4em;
        max-height: 0;
        overflow: hidden;
        transition: max-height var(--t1) ease-in-out,
          margin-top 300ms ease-in-out;
      }
    }

    .expand > .question {
      font-weight: 700;
    }

    .expand > .question::after {
      transform: rotate(180deg);
    }

    :not(.expand) > .question:hover,
    :not(.expand):focus > .question {
      color: $softRed;
    }

    .expand > .answer {
      margin-top: toRem(10px);
    }
  }
}
