@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap);

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  font-family: 'Kumbh', sans-serif;
  font-size: $font-xxsm;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to bottom,
    $backgroundGradientSoftViolet,
    $backgroundGradientSoftBlue
  );
  background-repeat: no-repeat;
}
